body {
    font-family: Arial, Verdana, sans-serif;
    background-color: black;

}

header, footer {
    background-color: rgba(90, 90, 90, 0.82);
}

header {
    display: flex;
}

#mainTitle {
    color: orangered;
    margin: auto auto auto 10px;
}

#editTitle {
    color: yellow;
    margin: auto auto auto 10px;
}

#styleSelection {
    color: green;
    height: 100%;
    margin: auto 10px auto auto;
    background-color: yellow;
}

#content {
    margin: 10px;
}

#buttonSection {
    display: flex;
}

#filterSection {
    margin-left: 1.5em;
}

#notesSelection {
    margin: auto 0 auto auto;
}

#notesSection {
    background-color: white;
}

footer {
    color: white;
    font-size: 80%;
    text-align-last: right;
    padding: 10px;
}
