html {
    min-width: 400px;
}

body {
    font-family: Arial, Verdana, sans-serif;
    background-color: linen;
    border: solid navajowhite;
    border-width: 0 5px;
}

header, footer {
    background-color: navajowhite;
}

header {
    display: flex;
}

footer {
    font-size: 80%;
    text-align-last: right;
    padding: 10px;
}

/* Shared */

input[type="button"], select {
    font-size: 11pt;
}

.logArea:before {
    content: "Log: "
}

/* Overview Section - Main section */

#mainSection {
    font-size: 11pt;
}

#mainContent {
    margin: 10px;
}

#mainTitle {
    color: red;
    margin: 10px;
}

#styleSelection {
    height: 100%;
    margin: auto 10px auto auto;
    background-color: yellow;
}

#buttonSection {
    display: flex;
    margin: 10px 0;
}

#sortingSection {
    margin-left: 1em;
}

#notesSelection {
    margin: auto 0 auto auto;
}

#notesSection {
    background-color: white;
}

/* Notes table */

#tableScroll {
    min-height: 200px;
    max-height: 500px;
    overflow: auto;
}

#notesTable {
    width: 100%;
}

#notesTable tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.2);
}

#notesTable tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
}

.dueDateCell {
    padding: 5px;
    width: 12.5em;
    min-width: 12.5em;

}

.dueDateDiv {
    display: flex;
    margin: -3px;
    flex-direction: row;
    align: right;
}

.titleDetailsAndPrioCell {
}

.titleAndPrio {
    display: flex;
}

.notePrio {
    margin: auto 5px auto auto;
    horiz-align: right;
}

.noteDetails {
    font-family: inherit;
    font-size: inherit;
    box-sizing: border-box;
    resize: vertical;
    width: 100%;
}

.editDeleteCell {
    width: 3em;
    vertical-align: top;
}

.editDeleteButton {
    margin: 0.5em;
    height: 2.5em;
}

/* Edit section */

#editSection {
    display: none;
    flex: 1 1 500px;
    flex-direction: column;
    font-size: 11pt;
}

#editForm {
    margin: 10px;
}

.gridRow {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

}

.gridLabel {
    flex: 0 0 8em;
    max-width: 8em;
}

.gridValue {
    flex: 5;
    justify-content: flex-start;
    align-content: flex-start;
}

.gridValueA {
    flex: 0 0 10em;
}

.gridValueB {
    flex: 1;
}

#title {
    background-color: aquamarine;
}

#details {
    background-color: aqua;
}

.myInput {
    font-family: inherit;
    font-size: inherit;

}

#priorityGroup {
    background-color: red;
    margin-top: 10px;
}

#selectedPriority {

}

#divDate {
    background-color: greenyellow;

}

#dueDate {
    opacity: 0.9;
}

.formButton {
    margin-top: 10px;
    margin-right: 1em;
}

