body {
    font-family: Arial, Verdana, sans-serif;
    background-color: linen;
    border: solid navajowhite;
    border-width: 0 5px;
}

header, footer {
    background-color: navajowhite;
}

header {
    display: flex;
}

footer {
    font-size: 80%;
    text-align-last: right;
    padding: 10px;
}


/* Shared */

.logArea:before {
    content: "Log: "
}


/* Overview Section - Main section */

#mainSection {
}

#mainContent {
    margin: 10px;
}

#mainTitle {
    color: red;
    margin: 10px;
}

#styleSelection {
    height: 100%;
    margin: auto 10px auto auto;
    background-color: yellow;
}

#buttonSection {
    display: flex;
    margin: 10px 0;
}

#filterSection {
    margin-left: 1em;
}

#notesSelection {
    margin: auto 0 auto auto;
}

#notesSection {
    background-color: white;
}


/* Edit section */

#editSection {
    display: none;
}

#editForm {
    margin: 10px;
}

#editForm label {
    position: absolute;
    margin-top: 12px;
}

.myInput {
    margin-top: 10px;
    margin-left: 100px;
}

#priorityGroup {
}

#dueDate {
}

.formButton {
    margin-top: 10px;
    margin-right: 1em;
}

