body {
    font-family: Arial, Verdana, sans-serif;
    background-color: linen;
}

#mainTitle {
    color: red;
    border-color: black;
    border-width: 5px;
    background-color: green;
}

header {
    display: flex;
}

header, footer {
    background-color: navajowhite;
}

#styleSelection {
    color: green;
    height: 100%;
    margin: auto 1em auto auto;
    background-color: yellow;
}

#content {
    margin: 1em;
}

#buttonSection {
    display: flex;
}

#notesSelection {
    margin: auto 0 auto auto;
}

#notesSection {
    background-color: white;
}

footer {
    font-size: 80%;
    text-align-last: right;
    padding: 0.5em;
}
