* {
    box-sizing: border-box;
    border-radius: 0.3em;
}

html {
    min-width: 500px;
}

button {
    min-width: 5em;
}

button:hover, select:hover {
    transform: scale(1, 1.25);
}

input[type='checkbox']:hover {
    transform: scale(1.25);
}

body {
    font-family: Arial, Verdana, sans-serif;
    border-width: 0 5px;
}

header {
    display: flex;
}

footer {
    display: flex;
    flex: 1 1 100%;
    justify-content: space-between;
    font-size: 80%;
    padding: 10px;
}

.logArea {
    opacity: 0;
}

/* Overview Section - Main section */

#mainSection {
    font-size: 11pt;
}

#mainContent {
    flex: 1;
    margin: 10px;
}

#mainTitle {
    margin: 10px;
}

#styleSelection {
    height: 100%;
    margin: auto 10px auto auto;
}

#buttonSection {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

#sortingSection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 1em;
}

.sortButton {
    margin: 0 0.2em;
}

#filterSection {
    display: flex;
    flex-wrap: wrap;
    align-items: inherit;
    margin: auto 0 auto auto;
    width: auto;
    min-width: 0;
}

#filterIcon {
    margin-right: 0.5em;
}

.hideFilterIcon {
    opacity: 0;
}

/* Notes table */

#notesTable {
    width: 100%;
}

.dueDateCell {
    padding: 5px;
    width: 12.5em;
    min-width: 12.5em;

}

.titleDetailsAndPrioCell {
    width: auto;
}

.titleAndPrio {
    display: flex;
}

.notePrio {
    margin: auto 5px auto auto;
    horiz-align: right;
}

.noteDetails {
    font-family: inherit;
    font-size: inherit;
    box-sizing: border-box;
    resize: vertical;
    width: 100%;
}

.editDeleteCell {
    width: 5em;
    vertical-align: top;
    text-align: center;
}

.editDeleteButton {
    width: 90%;
    margin: 0.2em 0;
}

/* Edit section */

#editSection {
    display: none;
    flex: 1 1 500px;
    flex-direction: column;
    font-size: 11pt;
}

#editForm {
    margin: 10px;
}

.gridRow {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 0 0.5em 0;
}

.gridLabel {
    flex: 0 0 6em;
    max-width: 8em;
}

.gridValue {
    flex: 5;
}

.myInput {
    font-family: inherit;
    font-size: inherit;

}

#priorityGroup {
    flex: 0 0;
    margin: 0 2em 0.2em 0;
    padding: 0;
}

.priority {
    flex: 1;
}

#selectedPriority {
    flex: 1;
    margin-left: 10px;
    margin: auto;
}

.formButtonSection {
    margin-top: 1em;
}

#saveButton {
    margin-right: 0.5em;
}
