body {
    background-color: linen;
    border: solid navajowhite;
}

header, footer {
    background-color: navajowhite;
}

.logArea {
    opacity: 1;
}

/* Overview Section - Main section */

#styleSelection {
    background-color: yellow;
}

#buttonSection {
    background-color: greenyellow;
}

#sortingSection {
    background-color: yellow;
}

.selectedSortButton {
    border-color: red;
}

#filterSection {
    background-color: orange;
}

#notesFilterSelection {
    background-color: crimson;
}

#notesSection {
    background-color: white;
}

/* Notes table */

#notesTable {
    background-color: lightblue;
}

#notesTable tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.2);
}

#notesTable tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
}

.editDeleteCell {
    background-color: aqua;
}

/* Edit section */

.gridRow {
    background-color: greenyellow;
}

.gridLabel[for='details'] {
    background-color: aqua;
}

.gridLabel {
    background-color: red;
}

#priorityGroup {
    background-color: yellow;
}

#selectedPriority {
    background-color: gold;
}

