body {
    color: white;
    background-color: rgba(0,0,0,0.8);
    border: solid black;
}

header, footer {
    background-color: black;
}

/* Overview Section - Main section */

#notesSection {
    background-color: white;
}

/* Notes table */

#notesTable tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.8);
}

#notesTable tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Edit section */

