body {
    background-color: linen;
    border: solid navajowhite;
}

header, footer {
    background-color: navajowhite;
}

/* Overview Section - Main section */

#notesSection {
    background-color: white;
}

/* Notes table */

#notesTable tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.2);
}

#notesTable tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Edit section */


